<nav class="navbar navbar-dark bg-primary">
<div class="container-fluid">
  <span class="navbar-brand mb-0 h1">Smart Grocery</span>
</div>
</nav> 
<div class = "container-flud main-content">
<div class="row">
  <section class="col-md-12">
    <div class="mt-3 mb-3">
      <h3>product list</h3>
    </div>
    <table class="table">
      <thead class="table">
        <tr>
          <th scope="col">product id</th>
          <th scope="col">product name</th>
          <th scope="col">product description</th>
          <th scope="col">create date</th>
          <th scope="col">quantity in kgs</th>
          <th scope="col">unit price</th>
          <th scope="col">product Action</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>rice</td>
          <td>white basmati rice imported from pakistan</td>
          <td>feb 31,2020</td>
          <td>100</td>
          <td>Rs 400</td>
          <td>
            <i class="fa fa-eye icon"></i>
            <i class="fa fa-pencil-sequare-o icon"></i>
          </td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>flour</td>
          <td>Fine flour whole grain general purpous flour</td>
          <td>feb 28,2020</td>
          <td>50</td>
          <td>Rs. 190</td>
          <td>
            <i class="fa fa-eye icon"></i>
            <i class="fa fa-pencil-sequare-o icon"></i>
          </td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td>sugar</td>
          <td>white sugar manufactured by palwatta factory</td>
          <td>feb 03,2020</td>
          <td>1200</td>
          <td>Rs. 200</td>
          <td>
            <i class="fa fa-eye icon"></i>
            <i class="fa fa-pencil-sequare-o icon"></i>
          </td>
        </tr>
        <th scope="row">4</th>
        <td>Dhal</td>
        <td>Imported mysorr dhal from india</td>
        <td>jan 31,2020</td>
        <td>10</td>
        <td>Rs. 200</td>
        <td>
          <i class="fa fa-eye icon"></i>
          <i class="fa fa-pencil-sequare-o icon"></i>
        </td>
    </table>
  </section>
</div>
</div>



